.clientprofile{
    display: flex;
    flex-direction: column;
    background-color: rgb(83, 83, 205);
    padding-inline: 5vw;
    height: 50vh;
    width: 100vw;
}
.clientlorem{
    height: 150px;
    width: 250px;
    background-color: rgb(46, 46, 180);
    color: white;
    padding: 10%;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: white;
    z-index: 5000;
    margin-top: -25px;
    margin-left: 10px;
}
.nameNpost{
    margin-left: 20px;
    margin-top: 5px;
}

@media screen and (max-width: 768px) {
    .clientprofile{
        /* margin: 0; */
        width: 86.8vw;
    }
}