.top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 5vw;
    padding-left: 5vw;
    align-items: center;
    color: white;
    background-color: rgb(83, 83, 205);
    height: 8vh;
    max-width: 100%;
}

.top1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 40vw;
}

.top2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 20vw;
}

.gmail {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gmail img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}
.phone {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.phone img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}
.days {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.days img {
    width: 25px;
    height: 25px;
    padding-right: 10px;
}

@media screen and (max-width: 768px) {
    .top {
        flex-direction: column;
        height: auto;
        padding: 20px;
    }

    .top1, .top2 {
        width: 100%;
    }

    .top1{
        width: 90vw;
        text-align: left;
        justify-content: left;
        height: 4vh;
    }
    

    .top2{
        margin-inline: 20%;
    }
    
    .gmail p{
        width: 0;
        color: transparent;
    }
    .phone p{
        width: 0;
        color: transparent;
    }
    .days{
        width: 0;
        color: transparent;
    }

    .top2 {
        margin-top: 20px;
    }
}
