.whybox{
    height: 30vh;
    align-items: center;
    text-align: center;
    padding: 9vh;
}
.whyus{
    font-size: 30px;
    padding: 2%;
}
.whylorem{
    font-size: 22px;
    padding: 2%;
    padding-inline: 180px;
}

.threediv{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 6vh;
    align-items: center;
    text-align: center;
}
/* .card {
    width: 300px;
    margin: auto;
    margin-top: 10px;
    text-align: center;
    border: 2px solid black;
    border-radius: 10px;
 } */

.circle1{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-inline: 40%;
    margin-bottom: 10%;
    background: rgb(46, 46, 180);
    align-items: center;
}
.div1lorem{
    /* justify-content: center; */
    align-items: center;
    align-content: center;
    text-align: center;
}
.tickbox{
    display: flex;
    flex-direction: row;
    height: 50vh;
    padding: 15vh;
}
.loremtick{
    /* width: 50%; */
    font-size: 20px;
    text-align: left;
    background-color: rgb(234, 219, 219);
    padding: 5%;
}
.blankbox{
    width: 70%;
    background: gray;
}
.ticks{
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 35%;
    padding: 20px 0px  20px 0px;
    height: fit-content;
    background-color: rgb(234, 219, 219);
}
.tick{
    display: flex;
    padding-top: 16px;
    padding-bottom: 16px;
    margin-right: 25px;
}
.tick img{
    height: 30px;
    width: 30px;
    padding-left: 10px;
    margin-inline: 20px;
}
.tick img:hover{
    color: black;
   
}

@media screen and (max-width: 768px) {
    .whybox{
        margin-top: 80%;
    }
    .whylorem{
        padding: 0;
    }
}